<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{url_for('static', filename='homestyle.css')}}">  

</head>
<body>

<h2>Facebook Search Bar</h2>

<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">

<ul id="myUL">
  <li><a href="{{url_for('hello_name_route',name='adele')}}">adele</a></li>
  <li><a href="{{url_for('hello_name_route',name='agnes')}}">Agnes</a></li>
  <li><a href="{{url_for('hello_name_route',name='billy')}}">Billy</a></li>
  <li><a href="{{url_for('hello_name_route',name='bob')}}">Bob</a></li>
  <li><a href="{{url_for('hello_name_route',name='calvin')}}">Calvin</a></li>
  <li><a href="{{url_for('hello_name_route',name='christina')}}">Christina</a></li>
  <li><a href="{{url_for('hello_name_route',name='cindy')}}">Cindy</a></li>
  <li><a href="{{url_for('hello_name_route',name='loai')}}">Loai</a></li>
</ul>

<script>
function myFunction() {
    var input, filter, ul, li, a, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    ul = document.getElementById("myUL");
    li = ul.getElementsByTagName("li");
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        txtValue = a.textContent || a.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";
        }
    }
}
</script>


    <ul>
       {% for friend in facebook_friends %}
            <li> {{friend}} </li>
            {% endfor %}
            </ul>


</body>
</html>

